#wrapper
  / Sidebar
  #sidebar-wrapper
    %ul.sidebar-nav
      %li
        .infobox-info
          Vypočítané z inzerátov nachádzajúcich sa na mape:
      %li
        .left
          Priemerná cena:
        .right
          .average-price
            0
      %li
        .left
          Priemerná cena m2:
        .right
          .average-price-m2
            0
      %li
        .left
          Počet ponúk:
        .right
          .num-of-properties
            0

  #page-content-wrapper
    .container-fluid
      .row
        .col-lg-12
          .autocomplete-div
            .autocomplete-left
              Vyberte lokalitu pomocou mapy
            .autocomplete-right
              %input{id: "autocomplete", placeholder: "alebo zadajte lokalitu ručne", class: "autocomplete-input"}

          .gmap3{style: "min-height: 500px; min-width:200px;"}
      .row
        #footer
          .container

          Priemerné ceny predaja nehnuteľností sa rátajú z celkovej predajnej sumy. Priemerné ceny prenájmu sú vyrátané z ceny za mesiac vrátane energií.
          Všetky priemery sa počítajú z inzerátov, ktoré sa nachádzajú na uliciach zobrazených na aktuálnej mape.
          %br
          %br
          Počet ponúk z ktorých sú vypočítané priemery:
          %b
            = Property.all.count
.bounds

  - content_for :scripts do
    = javascript_include_tag "properties"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places,visualization"